# Use this file to develop against the current coredev of Plone 5.
# Ideally pinn a stable revision (replace '5.2' with the revision-hash)
[buildout]
extends =
    local_develop.cfg
    https://raw.githubusercontent.com/plone/buildout.coredev/5.2/sources.cfg
    https://raw.githubusercontent.com/plone/buildout.coredev/5.2/checkouts.cfg
    https://raw.githubusercontent.com/plone/buildout.coredev/5.2/versions.cfg

always-checkout = true
