# overwrite or extend the hosted pinned_versions.cfg 

[buildout]
extends = 

[versions]
#
# --- versions we have chosen for a reason
# If a version pinning is ignored here, check floating_versions.cfg

