# Same as https://dist.plone.org/release/6.1.4/requirements.txt
# but newer versions
packaging==25.0
pip==25.3
setuptools==80.9.0
wheel==0.45.1
zc.buildout==5.1.1
horse-with-no-namespace==20251105.1
pre-commit
