# This file holds common configuration

[buildout]
extends =
    pinned_versions.cfg
    floating_versions.cfg
    https://raw.githubusercontent.com/starzel/buildout/master/linkto/hotfixes/6.0.2.cfg

cron-parts =
    backup-crontab
    zeopack-crontab

allow-picked-versions = false
show-picked-versions = true

prod-environment =
    PTS_LANGUAGES ${buildout:languages}
    zope_i18n_allowed_languages ${buildout:languages}
    zope_i18n_compile_mo_files true

unzip = true

sources = sources
sources-dir = src-mrd
auto-checkout =

eggs +=

extensions =
    mr.developer

zeoclients =
    zeoclient1

service-user =
service-group =

[zeoserver]
recipe = plone.recipe.zeoserver
eggs = ${buildout:eggs}
zeo-address = ${bindips:zeoserver}:${ports:zeoserver}
socket-name = ${buildout:vardir}/zeo.zdsock
file-storage = ${buildout:vardir}/filestorage/Data.fs
blob-storage = ${buildout:vardir}/blobstorage
zeo-log = ${buildout:logdir}/zeoserver.log
pid-file = ${buildout:vardir}/zeoserver.pid
pack-days = 7
pack-keep-old = false

[zeoclient-base]
recipe = plone.recipe.zope2instance
eggs = ${buildout:eggs}
zcml = ${buildout:zcml}
user = ${buildout:login}:${buildout:password}
zeo-client = True
zeo-address = ${zeoserver:zeo-address}
blob-storage = ${zeoserver:blob-storage}
var = ${buildout:vardir}
shared-blob = on
http-fast-listen = on
access-log = disable
event-log = disable
environment-vars = ${buildout:prod-environment}
zodb-temporary-storage = off

[zeoclient1]
recipe = plone.recipe.zope2instance
http-address = ${ports:zeoclient1}
ip-address = ${bindips:zeoclient1}
user = ${zeoclient-base:user}
zeo-client = ${zeoclient-base:zeo-client}
zeo-address = ${zeoclient-base:zeo-address}
blob-storage = ${zeoclient-base:blob-storage}
var = ${zeoclient-base:var}
shared-blob = ${zeoclient-base:shared-blob}
http-fast-listen = ${zeoclient-base:http-fast-listen}
access-log = ${zeoclient-base:access-log}
event-log = ${zeoclient-base:event-log}
eggs = ${zeoclient-base:eggs}
zcml = ${zeoclient-base:zcml}
environment-vars = ${zeoclient-base:environment-vars}
zodb-temporary-storage = ${zeoclient-base:zodb-temporary-storage}

[zeoclient_debug]
<=zeoclient-base
http-address = ${ports:zeoclient_debug}
ip-address = ${bindips:zeoclient_debug}
verbose-security = on

[site_unit]
recipe = gobre.recipe.template
input = templates/site.service.j2
output = ${buildout:directory}/etc/${:basename}.service
run_sh = ${buildout:directory}/run.sh
basename = ${buildout:site}-site
# These may look trivial but cause the other units to be built implicitly.
zeoserver_name = ${zeoserver_unit:basename}
zeoclient_name = ${zeoclient_unit:basename}

[zeoserver_unit]
recipe = gobre.recipe.template
input = templates/zeoserver.service.j2
output = ${buildout:directory}/etc/${:basename}.service
basename = ${buildout:site}-zeoserver

[zeoclient_unit]
recipe = gobre.recipe.template
input = templates/zeoclient.service.j2
output = ${buildout:directory}/etc/${:basename}@.service
basename = ${buildout:site}-zeoclient

[backup]
recipe = collective.recipe.backup
location = ${buildout:backupdir}/backups/filestorage
blobbackuplocation = ${buildout:backupdir}/backups/blob
keep = 2
# This one is important.
# It assumes that you are packing your database weekly.
# If you don't you might loose blobs if you did not do
# a database packing in the last 14 days
# the calulation for the right value is this:
# {backup:full} * time between two db packs
keep_blob_days = 14
datafs = ${zeoserver:file-storage}
snapshotlocation = ${buildout:backupdir}/snapshotbackups/filestorage
blobsnapshotlocation = ${buildout:backupdir}/snapshotbackups/blob
script-path-backup = ${buildout:directory}/bin/backup
enable_zipbackup = true

[precompiler]
recipe = plone.recipe.precompiler
eggs = ${buildout:eggs}
compile-mo-files = true

[backup-crontab]
recipe = z3c.recipe.usercrontab
times = 37 2 * * *
command = ${backup:script-path-backup} --quiet

[zeopack-crontab]
recipe = z3c.recipe.usercrontab
times = 47 1 3 * *
command = ${buildout:bin-directory}/zeopack

[nginx-config]
recipe = collective.recipe.template
input = templates/nginx.conf.in
output = ${buildout:directory}/etc/${buildout:site}_nginx.conf

[varnish-config]
recipe = collective.recipe.template
input = templates/varnish.vcl.in
output = ${buildout:directory}/etc/${buildout:site}_varnish.vcl
backend-host = ${bindips:loadbalancer}
backend-port = ${ports:loadbalancer}
