[versions]
#
# --- versions that were dumped for us - we pin these to keep a known-good set of eggs
#
collective.recipe.backup = 5.1.0
collective.recipe.template = 2.2
coverage = 7.10.7
gobre.recipe.template = 2.0
plone.recipe.precompiler = 0.7.2
regex = 2024.11.6
watchdog = 2.3.1
z3c.recipe.usercrontab = 1.5

# bobtemplates.plone
black = 25.9.0
bobtemplates.plone = 6.4.3
cachetools = 6.2.0
case-conversion = 3.0.2
chardet = 5.2.0
isort = 6.1.0
mr.bob = 1.0.1
mypy-extensions = 1.1.0
pathspec = 0.12.1
platformdirs = 4.4.0
pluggy = 1.6.0
py = 1.11.0
pyproject-api = 1.9.1
pytokens = 0.1.10
tox = 4.30.3
virtualenv = 20.34.0
