[buildout]
extends =
    http://dist.plone.org/release/5.2a1/versions.cfg

find-links +=
    http://dist.plone.org/release/5.2a1/

[versions]
#
# --- versions we have chosen for a reason
# If a version pinning is ignored here, check floating_versions.cfg

