[env]
recipe = gocept.recipe.env

[grp]
recipe = collective.recipe.grp

[haproxy]
recipe = plone.recipe.haproxy
url = http://dist.jarn.com/public/haproxy-1.4.15.zip
target = linux26

[haproxy-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/haproxy.cfg
output = ${buildout:directory}/etc/haproxy.cfg
user = ${env:USER}
group = ${grp:GROUP}
frontend-host = ${bindips:haproxy}
frontend-port = ${ports:haproxy}

